# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Poli\Data Science Lab - DSL\2021_22\exercises\DSL_Lab\exam_practices\WINTER_21_FIRST_CALL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
