# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Poli\Data Science Lab - DSL\2021_22\exercises\DSL_Lab\21_22_winter_1st_call\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
